/1
/10 Преобразование логического типа
/3-4 переменные
/5 спец. значения
/7 примеры с переменными
/8 преобразование типов данных.html
/9 Принудительное преобразование типов данных
/batman.png
/cycles.html
/henry-cavill.webp
/img2.akspic.ru-betmen-supergeroj-komiksy_dc-komiksy-kino-2160x3840.jpg
/повтор